<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Google Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
    
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e9818d9c7f.js" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}'>
    
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>DigitalSignage Slideshow</title>
    {% endif %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Page Specific css -->
    {% block page_css %}{% endblock %}
</head>

<body>
{% block content %}

{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src='{{ url_for("static", filename="bootstrap/js/bootstrap.bundle.min.js") }}'></script>
<!-- Page Specific JS -->
{% block page_scripts %}{% endblock %}
</body>
</html>
