{% extends 'layouts/base.html' %}

{% block content %}
    <div class="flex align-center justify-center h-100">
        <form class="form-signin" action="{{ url_for('user.register') }}" method="post">
            {% include 'macros/alerts.html' %}

            <h1 class="h3 mb-3 font-weight-normal">Register Here</h1>

            {{ form.csrf_token }}
            {{ form.username(class='form-control mt-3 rounded-0', placeholder='Username') }}
            {{ form.email(type='email', class='form-control mt-3 rounded-0', placeholder="Email") }}
            {{ form.password(class='form-control mt-3 rounded-0', placeholder='Password') }}
            {{ form.confirm_password(class='form-control mt-3 rounded-0', placeholder='Confirm Password') }}

            {{ form.submit(class='form-signin btn btn-lg btn-primary btn-block mt-4') }}
        </form>
    </div>
    {% include 'macros/footer.html' %}
{% endblock %}