{% extends 'layouts/base.html' %}

{% block styles %}
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/e9818d9c7f.js" crossorigin="anonymous"></script>
    <style>
        input, label {
            display: block;
        }

        body, h1, h2, h3, h4, b p {
            font-family: 'Montserrat', sans-serif;
        }

        body {
            color: #222221;
            background-color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- SIDEBAR -->
    {% include 'core/_sidebar.html' %}

    <!-- PAGE CONTENT -->
    <div class='w3-content w3-main w3-padding' style='text-align: left; margin-left: 26%;'>
        <h1>SLIDES</h1>
        <div class='previewDiv' id='previewDiv'></div>
        {% if contents %}
            <div class="w3-row-padding">
                {% for content in contents if 'file' in content['type'] %}
                    <div class="w3-col m3">
                        <div class="w3-card">
                            <img src="{{ url_for('static', filename='images/slideshow_images/') }}{{ content.path }}"
                                 alt="{{ content.path }}" style="width:100%">
                            <div>
                                <form action="{{ url_for('core.remove_image') }}" method="POST" class='w3-block'>
                                    <input type='hidden' name='image_id' id='image_id' value='{{ content.path }}'>
                                    <button class="far fa-trash-alt w3-button w3-block"
                                            style='color: red; display: inline;'
                                            type='submit'
                                            value='items_submitted' name='submit' id='submit'>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for content in contents if 'link' in content['type'] %}
                    <div class="w3-col m3">
                        <div class="w3-card">
                            <iframe src="{{ content.path }}" frameborder="0" width="100%"></iframe>
                            <div>
                                <form action="{{ url_for('core.remove_link') }}" method="POST" class="w3-block">
                                    <input type='hidden' name='link' id='image' value='{{ content.path }}'>
                                    <button class="far fa-trash-alt w3-button w3-block"
                                            style='color: red; display: inline;'
                                            type='submit'
                                            value='items_submitted' name='submit' id='submit'></button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No Content to display - To add content, use the controls at the left.</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var imagePreview = document.createElement('img');
        var linkPreview = document.createElement('iframe');

        var images = {{ images | safe }};

        function showImagePreview(index) {
            document.getElementById('previewDiv').innerHTML = '';

            imagePreview.src = ('/static/images/slideshow_images/' + images[index - 1])
            imagePreview.className = ('previewImage')


            document.getElementById('previewDiv').appendChild(imagePreview)
        }

        var links = {{ links | safe }};

        function showLinkPreview(index) {
            document.getElementById('previewDiv').innerHTML = '';

            linkPreview.src = (links[index - 1])
            linkPreview.className = ('previewLink')

            document.getElementById('previewDiv').appendChild(linkPreview)
        }
    </script>
{% endblock %}
