body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

section.fullscreen {
    flex: 1 0 auto;
}

.card.rounded,
.modal.rounded {
    border-radius: 1rem;
}
