body {
    font-family: 'Montserrat', sans-serif;
	color: #222221;
	background-color: white;
}

.listItemsContainer {
	width: 50vw;
	margin-left: 2vw;
	height: 60vh;
	overflow: auto;
}

.noItems {
	font-size: 12px;
	margin-left: 2vw;
}

.uploadInstructions {
	font-size: 10px;
	width: 22vw;
	min-width: 200px;
}

.uploadFooter {
	display: flex;
	border: 1px solid lightgrey;
	width: 50vw;
	height: 20vh;
	min-height: 160px;
	min-width: 600px;
	margin-left: 2vw;
	margin-top: 65vh;
	padding-top: 1vh;
	font-size: 12px;
	justify-content: space-around;
	border-radius: 10px;
}

.textField {
	border: none;
	border-bottom: 1px solid lightgrey;
	outline: none;
	transition: 0.2s;
}

.textField:focus {
	border-bottom: 1px solid grey;
}

.listItem {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;
	height: 5vh;
	align-items: center;
}

.imageName {
	margin-left: 2vw;
	width: 35vw;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
}

.preview {
	margin-left: 5vw;
	cursor: pointer;
	font-size: 12px;
}

.delete {
	position: absolute;
	height: 2vh;
	left: 47vw;
}

.previewDiv {
	position: fixed;
	right: 3vw;
	width: 41vw;
	margin-top: 2vh;
}

.previewImage {
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.previewLink {
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 10px;
	height: 50vh;
}
