{% extends 'layouts/base.html' %}


{% block content %}
    {% include 'macros/navbar.html' %}
    <main>
        <div class="container">

            {% include 'macros/alerts.html' %}

            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title">Profile</h2>
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="from-group col-md-6">
                                {{ form.username.label }}
                                {{ form.username(class="form-control") }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.email.label }}
                                {{ form.email(class="form-control") }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Update</button>
                    </form>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title">Change Password</h2>
                    <form action="" method="post">
                        {{ cpform.hidden_tag() }}
                        <div class="form-row">
                            <div class="from-group col-md-12">
                                {{ cpform.old_password.label }}
                                {{ cpform.old_password(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="from-group col-md-6">
                                {{ cpform.new_password.label }}
                                {{ cpform.new_password(class="form-control") }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ cpform.confirm_password.label }}
                                {{ cpform.confirm_password(class="form-control") }}
                            </div>
                        </div>
                        {{ cpform.submit(class="btn btn-lg btn-block btn-primary") }}
                    </form>
                </div>
            </div>

        </div>
    </main>
    {% include 'macros/footer.html' %}
{% endblock %}

{% block page_scripts %}
    <script>
        $('.alert').alert()
    </script>
{% endblock %}