{% extends 'layouts/base.html' %}

{% block styles %}
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
<script src="https://kit.fontawesome.com/e9818d9c7f.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

<style>
    .navbar {
        min-height: 80px;
    }

    .navbar-brand {
        padding: 0 15px;
        height: 80px;
        line-height: 80px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        /* Set the fixed height of the footer here */
    }

    .btn.btn-primary[disabled] {
        background-color: lightgrey;
        border-color: lightgrey;
    }
</style>

{% endblock %}

{% block content %}

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md">
            <h3>DS Slideshow</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
                <ul class="navbar-nav ml-auto">
                    <li class='nav-item mr-3'>
                        <a class='nav-link btn btn-secondary btn-md'><i class="fas fa-user-cog"></i> Account Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" href="{{ url_for('user.logout') }}"><i
                                class="fas fa-sign-out-alt"></i> Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class='container'>
            <!-- <button type = 'button' class = 'btn btn-success btn-md' data-toggle="modal" data-target="#myModal"><i class="fas fa-plus"></i> Upload Content</button> -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class='container form-group rounded'>
                                <form action='{{ url_for('core.upload_link') }}' method='POST'>
                                    <h3>Link</h3>
                                    <p class='text-muted'>
                                        Please enter the entire path to the page. e.g. https://google.co.uk. Note some
                                        pages will not work
                                        with this software.
                                    </p>

                                    <div class='d-flex'>
                                        <input type='text' id='upload_link' name='upload_link' class='form-control'
                                            autocomplete='off' placeholder='Enter link' required>
                                        <input type='submit' value='Add Link' formmethod='POST'
                                            class='ml-4 btn btn-primary'>
                                    </div>
                                </form>

                                <form type='file' method='POST' enctype='multipart/form-data'
                                    action="{{ url_for('core.upload_file') }}">
                                    <h3>Image</h3>
                                    <p class='text-muted'>Supported formats: .png .jpg .jpeg</p>

                                    <!-- Custom Bootstrap File Input -->
                                    <div class='d-flex'>
                                        <div class="custom-file">

                                            <input type="file" class="custom-file-input" id="file" name='file' required>
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>

                                        <input type='submit' value='Upload' formmethod='POST'
                                            class='ml-4 btn btn-primary'>
                                    </div>
                                </form>

                                <form class='mt-5' action='{{ url_for('core.alter_rotation_speed') }}' method='POST'>
                                    <h3>Slideshow Speed</h3>
                                    <p class='text-muted'>Current Speed: {{ rotation_speed | round | int }} seconds</p>

                                    <div class='d-flex'>
                                        <input type='text' id='alter_rotation_speed' name='alter_rotation_speed'
                                            class='form-control' autocomplete='off' placeholder='Speed (s)' required />
                                        <input type='submit' value='Change Speed' formmethod='POST'
                                            class='ml-4 btn btn-primary'>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="modal-footer mt-5">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                        </div>

                    </div>
                </div>
            </div>
            {% if not contents %}
                <div class='text-center mt-5'>
                    <h1>No Content to Display</h1>
                    <p class = 'text-muted'>Click below to begin adding content</p>
                    <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#myModal">Upload Content</button>
                </div>
            {% endif %}
        </div>

        {% if contents %}
        <div class="album py-5 bg-light">
            
            <div class="container">
                <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#myModal">Upload Content</button>

                <!-- Project Cards -->
                <div class="album py-5 bg-light">
                    <div class="container">

                        <h2 class='jumbotron-heading'>Content</h2>
                        <p class='text-muted'>Drag and drop slides to reorder the slideshow (not implemented yet)</p>
                        <hr>

                        <div class="row card-deck">
                            {% for content in contents %}
                            <div class="col-md-4 py-2">
                                <div class="card mb-4 box-shadow h-100">
                                    {% if content.type == 'file' %}
                                    <img class="card-img-top"
                                        src="{{ url_for('static', filename='images/slideshow_images/') }}{{ content.path }}"
                                        alt="Card image cap" style='height: 50%; object-fit: cover'>
                                    {% elif content.type == 'link' %}
                                    <iframe class="card-img-top"
                                    src = "{{ content.path }}"
                                    title = "Card image cap" style='height: 50%; object-fit: cover; border: 0;'></iframe>
                                    {% endif %}
                                    <div class="card-body">
                                        <hr>
                                        <p class="card-text text-muted">{{ content.path }}</p>
                                        <div style = 'width: 0; height: 0;'>
                                            <form id = '{{ content.path }}' action = "{{ url_for('core.remove_content') }}" method = 'POST'>
                                                <input type='hidden' name='content_id' id='content_id' value='{{ content.path }}'>
                                            </form>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button name = 'submit' value = '{{content.path}}' type = 'submit' class = 'btn btn-sm btn-outline-secondary'>Settings</button>
                                                <button form = '{{ content.path }}' type = 'submit' class="btn btn-sm btn-outline-secondary">Remove</button>
                                            </div>
                                            <p class = 'text-muted'>5s</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>


    </main>

    <footer class='footer'>
        <div class='container text-center'>
            <p class='text-muted'>Made with <i class="fas fa-heart text-danger"></i> by Harry Lees</p>
        </div>
    </footer>

</body>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

{# <div class='w3-content w3-main w3-padding' style='text-align: left; margin-left: 26%;'>
        <h1>SLIDES</h1>
        <div class='previewDiv' id='previewDiv'></div>
        {% if contents %}
            <div class="w3-row-padding">
                {% for content in contents if 'file' in content['type'] %}
                    <div class="w3-col m3">
                        <div class="w3-card">
                            <img src="{{ url_for('static', filename='images/slideshow_images/') }}{{ content.path }}"
                                 alt="{{ content.path }}" style="width:100%; height: 25vh; object-fit: cover;">
                            <div>
                                <form action="{{ url_for('core.remove_image') }}" method="POST" class='w3-block'>
                                    <input type='hidden' name='image_id' id='image_id' value='{{ content.path }}'>
                                    <button class="far fa-trash-alt w3-button w3-block"
                                            style='color: red; display: inline;'
                                            type='submit'
                                            value='items_submitted' name='submit' id='submit'>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for content in contents if 'link' in content['type'] %}
                    <div class="w3-col m3">
                        <div class="w3-card">
                            <iframe src="{{ content.path }}" frameborder="0" width="100%" style = 'height: 25vh;'></iframe>
                            <div>
                                <form action="{{ url_for('core.remove_link') }}" method="POST" class="w3-block">
                                    <input type='hidden' name='link' id='image' value='{{ content.path }}'>
                                    <button class="far fa-trash-alt w3-button w3-block"
                                            style='color: red; display: inline;'
                                            type='submit'
                                            value='items_submitted' name='submit' id='submit'>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No Content to display - To add content, use the controls at the left.</p>
        {% endif %}
    </div> #}
{% endblock %}