<html>
	<head>
		<link rel = 'stylesheet' href = '{{ url_for ('static', filename = 'css/setupFormatting.css') }}'>
		<title>DS Slideshow</title>
	</head>

	<body>
		<h1>DS Slideshow Setup</h1>
		<div class = 'previewDiv' id = 'previewDiv'></div>

		<div class = 'listItemsContainer'>
			{% if not images and not links%}
			<div class = 'noItems'>
				<p>No Content to display - To add content, use the controls at the bottom.</p>
			</div>
			{% endif %}


			{% for image in images %}
				<div class = 'listItem'>
					<div class = 'imageName'>{{ image }}</div>
					<p id = '{{loop.index}}' class = 'preview' onclick = 'showImagePreview(this.id)'>Preview</p>
					<form action = '/removeImage', method = 'POST'>
						<input type = 'hidden' name = 'imageID' value = '{{loop.index}}'>
						<input class = 'delete' name = 'submit_button' type = 'image' src = 'static/images/deleteIcon.png'>
					</form>
				</div>
			{% endfor %}

			{% for link in links %}
			<div class = 'listItem'>
				<div class = 'imageName'>{{ link }}</div>
					<p id = '{{loop.index}}' class = 'preview' onclick = 'showLinkPreview(this.id)'>Preview</p>
					<form action = '/removeLink', method = 'POST'>
						<input type = 'hidden' name = 'linkID' value = '{{loop.index}}'>
						<input class = 'delete' name = 'submit_button' type = 'image' src = 'static/images/deleteIcon.png'>
					</form>
				</div>
			{% endfor %}
		</div>

		<div class = 'uploadFooter'>
			<div class = 'uploadContent'>
				<b><p style = 'font-size: 16px'>Add Content: </p></b>
				<div class = 'uploadImagesDiv'>
					<form type = 'file' method = 'POST' enctype = 'multipart/form-data' action = '/uploadFile'>
						<input type = 'file' name = 'file' required style = 'outline: none'>
						<input type = 'submit' class = 'submitButton' value = 'Upload' formmethod = 'POST'>
					</form>
				</div>

				<div class = 'uploadLinkDiv'>
					<form action = '/uploadLink' method = 'POST'>
						<label for = 'linkUpload'>Link: </label>
						<input type = 'text' id = 'linkUpload' name = 'linkUpload' style = 'width: 210px' class = 'textField' autocomplete = 'off' placeholder = 'Enter link' required></input>
						<input type = 'submit' value = 'Add Link' formmethod = 'POST' class = 'submitButton'>
					</form>

				<div class = 'alterRotationSpeed'>
					<form action = '/alterRotationSpeed' method = 'POST'>
						<label for = 'alterRotationSpeed'>Slideshow Speed: </label>
						<input type = 'text' id = 'alterRotationSpeed' name = 'alterRotationSpeed' style = 'width: 95px' class = 'textField' autocomplete = 'off' placeholder = '{{ rotationSpeed }}' required></input>
						<input type = 'submit' value = 'Change Speed' formmethod = 'POST' class = 'submitButton'>
					</form>
				</div>

				</div>
			</div>
			<div class = 'uploadInstructions'>
				<p>Supported file formats: .png .jpg .jpeg</p>
				<p>Aspect ratio may not be maintained for websites in preview</p>
				<p>Some websites may not render on slideshow, please check before uploading</p>
				<p>Current Rotation Speed: {{ rotationSpeed }}s per slide</p>
			</div>
		</div>
	</body>
	
	<script>
		var imagePreview = document.createElement('img');
		var linkPreview = document.createElement('iframe');

		var images = {{ images | safe }};
		function showImagePreview(index){
			document.getElementById('previewDiv').innerHTML = '';

			imagePreview.src = ('/static/images/slideshowImages/' + images[index - 1])
			imagePreview.className = ('previewImage')


			document.getElementById('previewDiv').appendChild(imagePreview)
		}

		var links = {{ links | safe }};
		function showLinkPreview(index){
			document.getElementById('previewDiv').innerHTML = '';

			linkPreview.src = (links[index - 1])
			linkPreview.className = ('previewLink')

			document.getElementById('previewDiv').appendChild(linkPreview)
		}
	</script>

</html>
