{% extends 'layouts/base.html' %}

{% block content %}
    <header>
        {% include 'macros/navbar.html' %}
    </header>

    <main>
        <div class="container">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class='container form-group rounded'>
                                <form action='{{ url_for('core.upload_link') }}' method='POST'>
                                    <h3>Link</h3>
                                    <p class='text-muted'>
                                        Please enter the entire path to the page. e.g. https://google.co.uk. Note some
                                        pages will not work with this software.
                                    </p>

                                    <div class='d-flex'>
                                        <input type='text' id='upload_link' name='upload_link' class='form-control'
                                               autocomplete='off' placeholder='Enter link' required>
                                        <input type='submit' value='Add Link' formmethod='POST'
                                               class='ml-4 btn btn-primary'>
                                    </div>
                                </form>

                                <form type='file' method='POST' enctype='multipart/form-data'
                                      action="{{ url_for('core.upload_file') }}">
                                    <h3>Image</h3>
                                    <p class='text-muted'>Supported formats: .png .jpg .jpeg</p>

                                    <!-- Custom Bootstrap File Input -->
                                    <div class='d-flex'>
                                        <div class="custom-file">

                                            <input type="file" class="custom-file-input" id="file" name='file' required>
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>

                                        <input type='submit' value='Upload' formmethod='POST'
                                               class='ml-4 btn btn-primary'>
                                    </div>
                                </form>

                                <form class='mt-5' action='{{ url_for('core.alter_rotation_speed') }}' method='POST'>
                                    <h3>Slideshow Speed</h3>
                                    <p class='text-muted'>Current Speed: {{ rotation_speed | int }} seconds</p>

                                    <div class='d-flex'>
                                        <input type='text' id='alter_rotation_speed' name='alter_rotation_speed'
                                               class='form-control' autocomplete='off' placeholder='Speed (s)'
                                               required/>
                                        <input type='submit' value='Change Speed' formmethod='POST'
                                               class='ml-4 btn btn-primary'>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="modal-footer mt-5">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                        </div>

                    </div>
                </div>
            </div>
            {% if contents %}
                <div class="album py-5 bg-light">

                <div class="container">
                    <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#myModal">
                        Upload Content
                    </button>
                    <a href='/slideshow' class='btn btn-outline-secondary ml-3'>View Slideshow</a>

                <!-- Project Cards -->
                <div class="album py-5 bg-light">
                    <div class="container">

                        <h2 class='jumbotron-heading'>Content</h2>
                        <p class='text-muted'>Drag and drop slides to reorder the slideshow (not implemented yet)</p>
                        <hr>

                        <div class="row card-deck">
                            {% for content in contents %}
                                <div class="col-md-4 py-2">
                                    <div class="card mb-4 box-shadow h-100">
                                        {% if content.type == 'file' %}
                                            <img class="card-img-top"
                                                 src="{{ url_for('static', filename='images/slideshow_images/') }}{{ content.path }}"
                                                 alt="Card image cap" style='height: 50%; object-fit: cover'>
                                        {% elif content.type == 'link' %}
                                            <iframe class="card-img-top"
                                                    src="{{ content.path }}"
                                                    title="Card image cap"
                                                    style='height: 50%; object-fit: cover; border: 0;'></iframe>
                                        {% endif %}
                                        <div class="card-body">
                                            <hr>
                                            <p class="card-text text-muted">{{ content.path }}</p>
                                            <div style='width: 0; height: 0;'>
                                                <form id='{{ content.path }}'
                                                      action="{{ url_for('core.remove_content') }}"
                                                      method='POST'>
                                                    <input type='hidden' name='content_id' id='content_id'
                                                           value='{{ content.path }}'>
                                                </form>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button name='submit' value='{{ content.path }}' type='submit'
                                                            class='btn btn-sm btn-outline-secondary'>Settings
                                                    </button>
                                                    <button form='{{ content.path }}' type='submit'
                                                            class="btn btn-sm btn-outline-secondary">Remove
                                                    </button>
                                                </div>
                                                <p class='text-muted'>{{ rotation_speed | int }}s</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class='text-center mt-5'>
                    <h1>No Content to Display</h1>
                    <p class='text-muted'>Click below to begin adding content</p>
                    <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#myModal">Upload
                        Content
                    </button>
                </div>
            {% endif %}
            </div>
    </main>

    {% include 'macros/footer.html' %}

{% endblock %}

{% block page_scripts %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}