{% extends 'layouts/core.html' %}

{% block page_css %}
    <link rel='stylesheet' href='{{ url_for ('static', filename = 'css/ds_slider.css') }}'>
{% endblock %}

{% block content %}

    {% if contents %}
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                {% for content in contents %}
                    {% if content.priority == 1 %}
                        {% if content.type == 'file' %}
                            <div class="carousel-item active" data-interval="{{ content.interval }}">
                                <img src="{{ url_for('uploaded_file', filename=content.path) }}"
                                     class="d-block w-100 h-100"
                                     alt="...">
                            </div>
                        {% elif content.type == 'video' %}
                            <div class="carousel-item active" data-interval="{{ content.interval }}">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video class="d-block w-100 h-100"
                                           src="{{ url_for('uploaded_file', filename=content.path) }}"
                                           autoplay="autoplay" loop="loop">
                                    </video>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item active" data-interval="{{ content.interval }}">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="{{ content.path }}" frameborder="0"></iframe>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if content.type == 'file' %}
                            <div class="carousel-item" data-interval="{{ content.interval }}">
                                <img src="{{ url_for('uploaded_file', filename=content.path) }}"
                                     class="d-block w-100 h-100"
                                     alt="...">
                            </div>
                        {% elif content.type == 'video' %}
                            <div class="carousel-item" data-interval="{{ content.interval }}">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video class="d-block w-100 h-100"
                                           src="{{ url_for('uploaded_file', filename=content.path) }}"
                                           autoplay="autoplay" loop="loop">
                                    </video>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item" data-interval="{{ content.interval }}">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="{{ content.path }}" frameborder="0"></iframe>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1 class="display-1">No Contents</h1>
    {% endif %}

{% endblock %}
