{% extends 'layouts/base.html' %}

{% block page_css %}
    <link rel='stylesheet' href='{{ url_for ('static', filename = 'css/indexFormatting.css') }}'>
{% endblock %}

{% block content %}
    {% if not links and not images %}
    <body class = 'not_found'>
        <div class = 'text-center'>
            <h2>No Content to Display</h2>
            <p>Please <a href='{{ url_for("core.setup") }}'>click here</a> to add content.</p>
        </div>
    </body>
    {% endif %}

    {% if links or images %}
        <div class='slideshowDiv'>
            {% for image in images %}
                <img class='slideshowContent'
                     src='{{ url_for('static', filename = 'images/slideshow_images/' + image) }}'>
            {% endfor %}

            {% for link in links %}
                <iframe src='{{ link }}' class='slideshowContent'></iframe>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block page_scripts %}
    <script>
        var slideIndex = 0;
        var links =
        {{ links | safe}}
        var images =
        {{ images | safe }}

        if (images.length > 0 || links.length > 0) {
            carousel();
        } else {
            setTimeout(refreshPage, 5000);
        }

        function refreshPage() {
            location.reload(true);
        }

        function carousel() {
            var i;
            var x = document.getElementsByClassName('slideshowContent');
            for (i = 0; i < x.length; i++) {
                x[i].style.display = 'none';
            }

            slideIndex++;
            if (slideIndex > x.length) {
                slideIndex = 1;
                location.reload();
            }

            x[slideIndex - 1].style.display = 'block';
            setTimeout(carousel, {{ rotation_speed }});
        }
    </script>
{% endblock %}
